/* responsive.css */

/* Small devices (phones, 0px and up) */
@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
        width: 40%;
        height: auto;
    }

    form {
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }

    input {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
    }

    button {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
    }

    .todoTasks {
        width: 90%;
        font-size: 1rem;
        padding: 0.8rem;
    }

    i {
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        width: 30%;
        height: auto;
    }

    form {
        padding: 0.5rem 1rem;
        gap: 0.5rem;
    }

    input {
        font-size: 1.2rem;
        border-radius: 15px;
    }

    button {
        font-size: 1.2rem;
        border-radius: 15px;
    }

    .todoTasks {
        width: 70%;
        font-size: 1.1rem;
    }

    i {
        font-size: 1.6rem;
    }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 2.8rem;
        width: 25%;
        height: auto;
    }

    form {
        padding: 0.5rem 1rem;
    }

    input {
        font-size: 1.3rem;
        border-radius: 15px;
    }

    button {
        font-size: 1.3rem;
        border-radius: 15px;
    }

    .todoTasks {
        width: 60%;
        font-size: 1.2rem;
    }

    i {
        font-size: 1.7rem;
    }
}

/* Extra Large devices (wide desktops, 1200px and up) */
@media (min-width: 1201px) {
    h1 {
        font-size: 3rem;
        width: 20%;
    }

    .todoTasks {
        width: 50%;
    }
}
