html{
    font-size: 62.5%;
}
@media (min-width: 425px){
    html{
        font-size: 70%;
    }
}
@media (min-width: 728px){
    html{
        font-size: 80%;
    }
    .heading{
        flex-direction: row;
        margin-left: 2rem;
    }
    h1{
        width: 20%;
        font-size: 2.1rem;
        padding: 0 .5rem;
    }
    form{
        width: 80%;
    }
}
@media (min-width: 1024px){
    html{
        font-size: 90%;
    }
}